
<div class="well">
	<div class= "row">
		<div class="col-md-3">
		  <p><span><%= User.find(comment.user_id).email %></span></p>
		</div>
		<div class = "col-md-9">
		  <p><%= comment.comment %><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </span></p>
	  </div>
	</div>
	<div class="row">
  	<div class="col-md-12">
		  <% if comment.user_id==current_user.id %>
		  	<p><%= link_to "Delete", comment_path(comment), method: :delete, data: {confirm: "Are you sure?"}, class:'btn btn-danger btn-sm' %></p>
		  <% end %>
		</div>
	</div>
</div>



