<div class="home-callout text-center container-fluid">
  <h1><span data-mercury="full">Welcome to <code>contentEditable</code> Blog site for all</span></h1>
  <h2><span data-mercury="full">You can create and add contents at a <span class="click">click!!</span></span></h2>
  <h3><span data-mercury="full">Click demo and edit this page</span></h3>
  <h3 class="link-class"><span data-mercury="full">You can add and edit a link <a href='https://github.com/jejacks0n/mercury/blob/master/README.md' target="_blank" >Mercury <i class="fa fa-github" aria-hidden="true"></i></a> using tool <i class="fa fa-link fa-flip-horizontal" aria-hidden="true" ></i></span></h3>
</div>
<div class="container home-signup-links">
  <div class="row">
    <% if current_user %>
      <div class="col-md-6 home">
        <div class="well">
          <h2 class="text-center">Create/Edit an Article</h2>
            <h4 class="text-center"><span data-mercury="full">It's time to create, try some browser page editing and save in realtime...Cool!!</span></h4>
            <%= link_to "Create your Article", new_article_path(current_user), class: 'button btn btn-default btn-lg btn-block' %>
        </div>
      </div>
    <% else %>
      <div class="col-md-6 home">
        <div class="well">
          <h2 class="text-center">Sign Up</h2>
          <h4><span data-mercury="full">For realtime editing and saving please Sign up/Login and create an Article here!!</span></h4>
          <%= link_to "Sign up to Create Article", new_user_path, class: 'button btn btn-default btn-lg btn-block' %>
        </div>
      </div>
    <% end %>
      <div class="col-md-6 home">
        <div class="well">
          <h2 class="text-center">Mercury Demo</h2>
          <h4 class="text-center"><span data-mercury="full">You can try how it works...but for saving edited contents please Sign Up/Log In and create an article..</span></h4>
          <%= link_to 'DEMO', "/editor" + request.path, class: 'button btn btn-default btn-lg btn-block' %>
        </div>
      </div>
  </div>
</div>