<div id="header">

  <ul id="navigation">
  <% Page.all.each do |page| %>
  	<h1><%= render plain: page.name.html_safe %></h1>
    <li><%= link_to_unless_current page.name.html_safe, page %></li>
    <div class="content">

  <%== render plain: page.content %>
  </div>
  <% end %>
  </ul>
</div>



