/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

//Background image for body

body {
 background-image: asset_url("Ruby.jpg");
}
/* Navbar Styling*/
.navbar {
    background: #9b111e;
}

//text area resize to vertical only

textarea{
  resize: vertical;
}

// Navbar Styles
.navbar{
    border: none;
    border-radius: unset;
}

// Navbrand style
.navbar-brand {
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 800;
    font-size: 24px;
}
// Toggle button styles

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border : 2px solid white;
    &:hover {
        background-color:#FC354C;
    }
    &:focus {
        background-color:#dd1818;
    }
}

// Navbar Collapse

.navbar-collapse{
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    font-weight: medium;
}

// Nav brand and items Styles
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover, &:active {
    color: black;
    opacity: 0.75;
    background-color: #FC354C;
  }
}

// Flash message styling
.flash-container{
    position: absolute;
    width: 100%;
    z-index: 1;
}

.alert{
  margin-top: -20px;
  text-align: center;
}

// Homepage styles

.home-callout{//Gradient provided by @ighosh at UIGradients.com
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    margin-top: -20px;
    text-align: center;
    padding: 50px 0 100px;

}

.home-signup-links {
  margin-top: 30px;

}
.home > .well {
    min-height: 200px;
    background-color: black;
    color:white;
}

// Home page buttons styling

.button{
  position: relative;
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  padding: 20px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  color: white
}

.button:after {//Gradient provided by @ighosh at UIGradients.com
  content: "";
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:hover {
 background: #FC354C;
}

.button:hover:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

// Article show page styling
.article-edit-links {
    margin-top: 10px;
}

#edit_link {
    background-color: #1141a2;
    width: 100%;
    color: white;
    text-shadow: none;
}
#create_link {
    background-color: #8000ff;
    color: white;
    text-shadow: none;
    width: 100%;
}

//Articles Font style
.article-title, .article-content, .index-page-header, .index-article-title, .index-page-content, #add-comments-title, #comments-title{
  font-family: 'Open Sans', sans-sarif;
  &.article-title, &.index-page-header, &#add-comments-title, &#comments-title{
    color:white;
  }
}

// Login page styling
#signup-header, #signup-email, #signup-password, #signup-password-confirm,
#login-header, #login-email, #login-password{
  color:white;
}

#content{
  min-height: 100px;
}
//Styling for Mercury contenteditable
.article-content > .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


/* Sticky footer styles-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  //height: 40px;
  background-color: #9b111e;
}


.footer-box {
  width: auto;
  max-width: 680px;
  padding: 5px 15px;
}
.footer-box .text-muted {
  margin: 5px 0;
  &:hover, &:focus{
  color:white;
  }
}

.truncate-overflow {
    line-height: 1.5em;
    height: 6em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}