/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";


/* Navbar Styling*/
/*Navbar Gradient*/
.navbar {
    background: #9b111e;
}

// Navbar Styles
.navbar{
    border: none;
}

// Navbrand style
.navbar-brand {
    font-family:"Open Sans", sans-serif;
    font-weight: 800;
}
// Toggle button styles

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border : 2px solid white;
    &:hover {
        background-color:#FC354C;
    }
    &:focus {
        background-color:#0ABFBC;
    }
}

// Nav brand and items Styles
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover, &:active {
    color: black;
    opacity: 0.75;
    background-color: #FC354C;
  }
}

// Homepage styles

.home-callout{ //Gradient provided by @ighosh at UIGradients.com
    background: #FC354C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-callout{
    color: white;
    margin-top: -20px;
    text-align: center;
    padding: 50px 0 100px;

}

// Article show page styling
.article-edit-links {
    margin-top: 10px;
}

//Styling for Mercury contenteditable
.article-content > .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}