//Mercury content editable home styling
.home-callout .click{
	border-radius:25%;
	background-color: yellow;
	color: black;
}

.home-callout .link-class {
	font-family: Inconsolata;
}
.home-callout .link-class > span > a {
color: #5BC238;  text-decoration: none;
}
.home-callout .link-class > span > i {
color: #36C7C2;
}